In [1]:
import pickle
m = pickle.load(open('dataset.pkl', 'rb'))
m

,innings,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],T20,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],T20,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],T20,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],T20,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],T20,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],T20,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
1430,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [2]:
import pandas as pd
from yaml import safe_load
import numpy as np
import os
from tqdm import tqdm

In [10]:
totals = []
ctr = 1
balls_innings2 = pd.DataFrame()

In [ ]:
row = m.loc[0]
deliveries = row['innings'][1]['2nd innings']['deliveries']
deliveries

In [35]:
balls_innings2 = pd.DataFrame()
#dataframe for team in first innings, we will make one for second innings too
ctr = 1
dfs = []
for index, row in tqdm(m.iterrows()):
    if ctr in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        ctr +=1
        continue
    ctr+=1
    ball_no = []
    batsman = []
    bowler = []
    runs = []
    player_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    wickets = []
    try:
        for ball in row['innings'][1]['2nd innings']['deliveries']:
            for key in ball.keys():
                match_id.append(ctr)
                batting_team.append(row['innings'][1]['2nd innings']['team'])
                teams.append(row['info.teams'])
                ball_no.append(key)
                batsman.append(ball[key]['batsman'])
                bowler.append(ball[key]['bowler'])
                runs.append(ball[key]['runs']['total'])
                city.append(row['info.city'])
                venue.append(row['info.venue'])
                try:
                    player_dismissed.append(ball[key]['wicket']['player_out'])
                except:
                    player_dismissed.append('0')
                try: 
                    if (ball[key]['wicket']):
                        wickets.append(1)
                except:
                    wickets.append(0)
    
            iterdf = pd.DataFrame({
                'match_id':match_id,
                'teams':teams,
                'batting_team':batting_team,
                'ball':ball_no,
                'batsman':batsman,
                'bowler':bowler,
                'runs':runs,
                'player_dismissed':player_dismissed,
                'city':city,
                'venue':venue,
                'wicket': wickets
            })
            
        dfs.append(iterdf)
    
        balls_innings2 = pd.concat(dfs, ignore_index=True)
    except:
        continue

963it [03:37,  4.43it/s]

In [36]:
balls_innings2

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,wicket
0,2,"[Australia, Sri Lanka]",Sri Lanka,0.1,N Dickwella,PJ Cummins,1,0,NaN,Melbourne Cricket Ground,0
1,2,"[Australia, Sri Lanka]",Sri Lanka,0.2,WU Tharanga,PJ Cummins,1,0,NaN,Melbourne Cricket Ground,0
2,2,"[Australia, Sri Lanka]",Sri Lanka,0.3,N Dickwella,PJ Cummins,0,0,NaN,Melbourne Cricket Ground,0
3,2,"[Australia, Sri Lanka]",Sri Lanka,0.4,N Dickwella,PJ Cummins,0,0,NaN,Melbourne Cricket Ground,0
4,2,"[Australia, Sri Lanka]",Sri Lanka,0.5,N Dickwella,PJ Cummins,3,0,NaN,Melbourne Cricket Ground,0
...,...,...,...,...,...,...,...,...,...,...,...
103150,964,"[Sri Lanka, Australia]",Australia,17.1,TM Head,SS Pathirana,1,0,Colombo,R Premadasa Stadium,0
103151,964,"[Sri Lanka, Australia]",Australia,17.2,PM Nevill,SS Pathirana,3,0,Colombo,R Premadasa Stadium,0
103152,964,"[Sri Lanka, Australia]",Australia,17.3,TM Head,SS Pathirana,0,0,Colombo,R Premadasa Stadium,0
103153,964,"[Sri Lanka, Australia]",Australia,17.4,TM Head,SS Pathirana,0,0,Colombo,R Premadasa Stadium,0
103154,964,"[Sri Lanka, Australia]",Australia,17.5,TM Head,SS Pathirana,6,0,Colombo,R Premadasa Stadium,0

In [39]:
balls_innings2['wicket'].value_counts()

wicket
0    97486
1     5669
Name: count, dtype: int64

In [40]:
pickle.dump(balls_innings2, open('rawi2.pkl', 'wb'))

In [48]:
temp = pickle.load(open('b1.pkl', 'rb'))

In [49]:
temp = temp[['match_id', 'runs']]

In [50]:
temp

        match_id  runs
0              2     0
1              2     0
2              2     1
3              2     2
4              2     0
...          ...   ...
115320       964     1
115321       964     0
115322       964     0
115323       964     2
115324       964     1

[115325 rows x 2 columns]