In [2]:
import pickle

In [3]:
df= pickle.load(open('innings2.pkl','rb'))
df

,batting_team,bowling_team,city,cumulative_runs,ballsleft,wicketsleft,rr,last5,last5w,target,rrr,final_rr
29,Sri Lanka,Australia,Melbourne,50,93,9,11.111111,50.0,1.0,168,7.612903,8.60000
30,Sri Lanka,Australia,Melbourne,50,92,9,10.714286,49.0,1.0,168,7.695652,8.60000
31,Sri Lanka,Australia,Melbourne,51,91,9,10.551724,49.0,1.0,168,7.714286,8.60000
32,Sri Lanka,Australia,Melbourne,51,90,9,10.200000,49.0,1.0,168,7.800000,8.60000
33,Sri Lanka,Australia,Melbourne,55,89,9,10.645161,53.0,1.0,168,7.617978,8.60000
...,...,...,...,...,...,...,...,...,...,...,...,...
64602,Australia,Sri Lanka,Colombo,121,17,4,7.048544,18.0,2.0,128,2.470588,7.28972
64603,Australia,Sri Lanka,Colombo,124,16,4,7.153846,21.0,2.0,128,1.500000,7.28972
64604,Australia,Sri Lanka,Colombo,124,15,4,7.085714,21.0,2.0,128,1.600000,7.28972
64605,Australia,Sri Lanka,Colombo,124,14,4,7.018868,21.0,2.0,128,1.714286,7.28972
64606,Australia,Sri Lanka,Colombo,130,13,4,7.289720,26.0,2.0,128,0.000000,7.28972

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [7]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [8]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=300,learning_rate=0.1,max_depth=12,random_state=1))
])

In [9]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['final_rr'])
y = df['final_rr']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [10]:
from sklearn.metrics import r2_score,mean_absolute_error

In [11]:
X

,batting_team,bowling_team,city,cumulative_runs,ballsleft,wicketsleft,rr,last5,last5w,target,rrr
29,Sri Lanka,Australia,Melbourne,50,93,9,11.111111,50.0,1.0,168,7.612903
30,Sri Lanka,Australia,Melbourne,50,92,9,10.714286,49.0,1.0,168,7.695652
31,Sri Lanka,Australia,Melbourne,51,91,9,10.551724,49.0,1.0,168,7.714286
32,Sri Lanka,Australia,Melbourne,51,90,9,10.200000,49.0,1.0,168,7.800000
33,Sri Lanka,Australia,Melbourne,55,89,9,10.645161,53.0,1.0,168,7.617978
...,...,...,...,...,...,...,...,...,...,...,...
64602,Australia,Sri Lanka,Colombo,121,17,4,7.048544,18.0,2.0,128,2.470588
64603,Australia,Sri Lanka,Colombo,124,16,4,7.153846,21.0,2.0,128,1.500000
64604,Australia,Sri Lanka,Colombo,124,15,4,7.085714,21.0,2.0,128,1.600000
64605,Australia,Sri Lanka,Colombo,124,14,4,7.018868,21.0,2.0,128,1.714286
64606,Australia,Sri Lanka,Colombo,130,13,4,7.289720,26.0,2.0,128,0.000000

In [12]:
y

29       8.60000
30       8.60000
31       8.60000
32       8.60000
33       8.60000
          ...
64602    7.28972
64603    7.28972
64604    7.28972
64605    7.28972
64606    7.28972
Name: final_rr, Length: 47886, dtype: float64

In [13]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.995461488504333
0.04964031370821591

In [14]:
pickle.dump(pipe, open('final_model2.pkl','wb'))